:root {
  --pico-font-size: 66%;
  --pico-spacing: .8rem;
  --pico-typography-spacing-vertical: .8rem;
}

::selection {
  background-color: #7a0f51;
  color: #fff;
}

html[data-theme='dark'] {
  --log-color: #391c2c;
}

html[data-theme='light'] {
  --log-color: #eaaecf;
}

html,
body {
  height: 100%;
  margin: 0
}

.container {
  max-width: none;
  padding: 2px 12px;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.page .pagerow.pageheader {
  flex: 0 1 auto;
}

.page .pagerow.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.page .pagerow.footer {
  flex: 0 1 40px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 25px;
  gap: 15px;
  height: auto;
  padding: 12px;
  margin-top: -20px;
}

.item {
  background-color: #2d2562;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
}

.item[data-type="template"] {
  background-color: var(--pico-secondary-background);
}

.item[data-type="save"] {
  background-color: #246224;
}

.item:hover {
  border: 1px solid var(--pico-contrast-border);
}

#input {
  font-family: monospace;
}

.CodeMirror {
  height: auto;
  min-height: 50px;
  margin: 0 12px 6px;
}

.columns > code {
  cursor: pointer;
  margin: 2px 4px;
  padding: 1px 2px;
  font-size: xx-small;
  font-family: 'iosevka', 'roboto', mono;
}

.columns > code:hover, .columns > code.log:hover {
  background: var(--pico-secondary-focus);
}

code.log, th.log {
  background-color: var(--log-color);
}

.buttons > ul > li {
  padding: 0 6px;
}

button {
  padding: 3px;
}

fieldset, [role="group"] {
  margin: 0;
}

#error {
  color: #f98ba1;
  background-color: #2d2562;
  padding: 0 12px;
  margin: 8px 12px;
}

thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

td {
  white-space: nowrap;
}

td, th {
  border-right: var(--pico-border-width) solid var(--pico-table-border-color);
}

td.gridjs-td,
th.gridjs-th {
  padding: 2px 4px;
}

tr:hover > td{
  background-color: #625d8175;
}

#helpDialog {
  font-size: 1.6rem;
}

dialog > article {
  padding: 12px 24px;
}